{% extends 'base.html' %}

{% block title %}Books - My Library{% endblock %}

{% block page_title %}Books{% endblock %}
{% block content %}
                     <div class="jumbotron">
                        <h1 class="display-4">Welcome to My Library Dashboard!</h1>
                        <p class="lead">Explore and manage your library activities.</p>
                        <hr class="my-4">
                        <p>Get started by selecting an option from the sidebar.</p>
                    </div> 
                    {% endblock %}